body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow-x:hidden;
   scroll-behavior: smooth; 
  }
  
  /*@font-face {
    font-family: BioRhyme;
    src: url(.woff);
 }*/
 ul {
  list-style-type: none;
}

  .fade-in { animation: fadeIn 2s; } /*fadeIn is the animation name*/

  @keyframes fadeIn {
    0% { opacity: 0.2; }
    100% { opacity: 1; }
  }

  section{
    margin: 0 0 6% 0;
  }
/***Title Section ***/
#title-box .navbar{
  width:fit-content;
  border-radius:20px;
  position:relative;
  right:0;
  padding:5px 20px ;
  font-size:1rem;
  margin:5px;
}

#title-box .nav-link{
  font-weight:bold;
}

#title-box .nav-link:hover{
  color:rgb(221, 235, 248);
}

#title-box .card-body{
  background: #076585;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.maintitle{
  margin:5px 2%;
  padding:2% 0 0 0;
text-transform:uppercase;
  font-size:5.8vw;
  color:rgba(147, 117, 56, 0.993);
  font-family: "BioRhyme";
}


.title-icon{
width:40%;
}

/***AboutSection ***/
.mascot-box{
    margin:5% 12% ;
   /* border: 3px solid rgb(33, 32, 32);*/
    border-radius: 24px;
    height:auto;
    padding:5px;

    background:rgb(239, 237, 237);
    box-shadow:15px 10px  #a7a7a776;
  }
  
  .mascot-box p{
    margin:10% 0;
   
  }

  .mascot-icon{
    margin:5% 0;
    width:70%;
    background:rgb(248, 252, 252);
    border-radius:30px;
    padding:0;
  }

/***Housians Section***/
#rostersection .row {
  margin:0 5% ;
}

#rostersection .col {
margin:1% 0;
}

.profilecard .card-header{
font-size:1.9rem;
font-weight:bolder;
text-align:center;
}

.profilecard .card-footer{
    font-size:1.1rem;
    text-align:center;
}


  .profilecard .card-body{
    padding:0; 
    margin:5% 0 1% 0;
    text-align:center;

  }

  .profileimg{
    border-radius:60px;
    height: 150px; 
    width: 150px;
    min-width:150px;
    object-fit:scale-down;
  }


  /***Rooms Section***/
    .roomcard .card-header{

    }
    
    #roomssection .row {
      margin:0 2% ;
    }
    
    #roomssection .col {
    margin:1% 0;
    }

    .roomcard .card-footer{
      text-align:center;
      font-size:1.4rem;
      margin:0;
      padding:0;
    }
    .roomcard .card-body {
      justify-content: left;
        background: rgb(131,58,180);
      background: linear-gradient(90deg, rgba(131, 58, 180, 0.42) 0%, rgba(253,29,29,0.42) 50%, rgba(252,176,69,0.42) 100%);
    }
  
      .roomcard .card-body p{

        display:inline;
        font-size:1.4rem;
        line-height:1.4;
      }
    
      .roomimg{
        border-radius:50px;
        height: 230px; 
        width: 230px;
        
        float:left;
        display:inline;
        margin:5px;
        object-fit:scale-down;
      }